layout {

    focus-ring {
        active-color   "#1d3c63"
        inactive-color "#e1e5ea"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#1d3c63"
        inactive-color "#e1e5ea"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#1d3c63"
        inactive-color "#6c94c7"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#1d3c6380"
    }
}

recent-windows {
    highlight {
        active-color "#1d3c63"
        urgent-color "#fd4663"
    }
}
