layout {

    focus-ring {
        active-color   "#a9973c"
        inactive-color "#eae8e1"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#a9973c"
        inactive-color "#eae8e1"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#a9973c"
        inactive-color "#dfd9b8"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#a9973c80"
    }
}

recent-windows {
    highlight {
        active-color "#a9973c"
        urgent-color "#fd4663"
    }
}
