layout {

    focus-ring {
        active-color   "#2d3853"
        inactive-color "#e1e4ea"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#2d3853"
        inactive-color "#e1e4ea"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#c7cad170"
    }

    tab-indicator {
        active-color   "#2d3853"
        inactive-color "#8591ad"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#2d385380"
    }
}

recent-windows {
    highlight {
        active-color "#2d3853"
        urgent-color "#fd4663"
    }
}
